data/raw/
data/temp/
*.csv
*.xlsx
*.xls
*.json
*.parquet
*.zip
*.gz

.ipynb_checkpoints/
*.ipynb~
.DS_Store

venv/
.env/
*.env
pycache/
*.pyc
*.pyo

*.log
*.tmp
*.bak

.vscode/
.idea/
*.swp
Thumbs.db

.vscode/
.idea/
*.swp
Thumbs.db
